@media(min-width: 460px){
  .card.small{
    height: 13rem;
  }
}

.card {
  background-color: #d8d8c8;
}

.collection, .collection-item, .collection-header{
  background-color: #d8d8c8 !important;
}

.content{
  height: 8rem;
  overflow: auto;
}

.header{
  color: #fdd835;
  font-weight: bold;
}

.card-content ul {
  font-size: 1.2rem;
  margin-top: 0;
}

.title{
  color: #141414 !important;
  text-shadow: 0 0 1px #fdd835 !important;
}