.card{
  background: radial-gradient(ellipse at bottom, #ffffff 0%, #d8d8c8   100%);
  border: solid 5px #141414;
  border-radius: 8px;
  transition-duration: 0.3s;
}

.card:hover{
  animation: cardSelect 0.3s forwards;
  box-shadow: 2px 4px 12px 4px #666242;
}
.card-image, img{
border-left: solid 8px #d8d8c8;
border-right: solid 8px #d8d8c8;

}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards{
  flex-basis: 28%;
  min-width: 300px;
}

.card-title{
  color: #424242;
  height: 80px;
  padding: 0 22px;
}

.card-title .card-title-text{
  font-weight: bold;
  text-align: center;
}

.card-content ul{
  background-color: #424242;
  border: solid 3px #141414; 
  border-radius: 8px;
  color: #fdd835;
  padding: 20px;
}

@keyframes cardSelect {
  to {transform: scale(1.05, 1.05);}
}