@media(min-width: 460px){
  .card.small{
    height: 13rem;
  }
}

.card {
  background-color: #d8d8c8;
}

.header{
  color: #fdd835;
  font-weight: bold;
}

.card-content ul {
  font-size: 1.2rem;
  margin-top: 0;  
}

.card-action{
  text-align: center;
}

.card .card-action a{
  padding: 15px;
  border-radius: 5px;
  background-color: #424242;
  color: #fdd835 !important;
}
