<app-loading></app-loading>

<div class="main-card scale-transition scale-out row">
  <div *ngIf="card" class="col s12 m10 l6 offset-m1 offset-l3">
    <h4 class="header">{{ card.name }}</h4>
    <div class="card small horizontal">
      <div class="card-image hide-on-small-only">
        <img class="card-img" [src]="card.img" alt="starwars logo placeholder">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li><strong>Modelo: </strong> {{ card.model }}</li>
            <li><strong>Fabricante: </strong>{{ card.manufacturer }}</li>
            <li><strong>Autonomia: </strong>{{ card.consumables }}</li>
            <li materialize="tooltip" class="tooltipped"  data-position="bottom" data-delay="80" data-tooltip="*Megalights por hora">
              <strong>Velocidade: </strong><span class="notes">{{ card.MGLT }} Mglt/h*</span>
            </li>
            <li><strong>Classe: </strong>{{ card.starship_class }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</div>

<app-page-template [data]="batch">

  <div *ngIf="card" class="card-info col s12 m6">
    <ul class="collection with-header">
      <li class="collection-header"><h5>Estatísticas</h5></li>
      <div class="content">
        <a class="collection-item">
            <span class="title"><strong>Classe do hyperdrive: </strong>{{ card.hyperdrive_rating }}</span>
        </a>
        <a class="collection-item">
            <span class="title">
              <strong>Carga máxima:</strong>{{ card.cargo_capacity > 999 ? card.cargo_capacity/1000 +' ton' : card.cargo_capacity + ' Kg' }}
            </span>
        </a>
        <a class="collection-item">
            <span class="title"><strong>Tripulação: </strong>{{ card.crew }} </span>
        </a>
        <a class="collection-item">
          <span class="title"><strong>Passageiros: </strong>{{ card.passengers }}</span>
        </a>
        <a class="collection-item">
            <span class="title">
              <strong>Velocidade atmosférica: </strong>{{ card.max_atmosphering_speed === "n/a" ? "n/a" : card.max_atmosphering_speed + " Km/h"}}
            </span>
        </a>
        <a class="collection-item">
            <span class="title"><strong>Custo: </strong>{{ card.cost_in_credits == "unknown" ? card.cost_in_credits : card.cost_in_credits| currency }}</span>
        </a>
        <a class="collection-item">
            <span class="title">
              <strong>Comprimento: </strong>{{ card.length > 999 ? card.length/1000 +' Km' : card.length + ' m' }}
            </span>
        </a>
      </div>
    </ul>
  </div>

</app-page-template>
