.dropdown-button{
  padding: 0;
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: #424242;
}

.nav-wrapper, a {
  color: #d8d8c8;
}
.left{
  margin-right: 8px;
}
.right{
  margin-left: 3px;
}

.side-nav .material-icons{
  margin-right: 10px
}

.brand-logo img{
  margin-left: 10px;
  width: 100px;
}

.side-nav a, .dropdown-content a{
  color: #d8d8c8;
}

.side-nav .side-nav-title{
  margin-top: 20px;
}

.material-icons, .side-nav .material-icons{
  color: #fdd835;
}

.dropdown-content, .nav-wrapper, .side-nav{
  background-color: #424242;
}

.main-logo{
  display: block;
  margin: auto;
  width: 30rem;
}