<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="http://1.bp.blogspot.com/-L4P8M3aAPsQ/Tn6qVw61_eI/AAAAAAAAA8Q/LjWpiudxRVs/s1600/cfx_slave1_3.jpg">
  
  <img width="300" alt="Angular Logo" src="http://vignette3.wikia.nocookie.net/starwars/images/5/5b/Imperial_Sentinel-class_shuttle.png/revision/latest/scale-to-width-down/500?cb=20161008235432">
</div>
<h2>Here are some links to help you start: </h2>
<app-cards></app-cards>

